$break-small: 500px;

.file-upload{
    .errorMessage{
        color: red;
        text-align: left;
        line-height: 40px;
        @media screen and (max-width: $break-small) {
            font-size: 12px;
        }
    }
    .fileName{
        color: #000;
        text-align: left;
        line-height: 40px;
        @media screen and (max-width: $break-small) {
            font-size: 14px;
        }
    }
    input{
        display: none;
    }
}
