
.command-bar{
    width: 100%;
    background-color: #333;
    height: 40px;
    color: #fff;
    .seedlink-logo,.logout-help,.feedback-hamburger{
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding-top: 10px;
    }
    .seedlink-logo{
        width: 100%;

        text-align: center;
        img,h2{
            display: inline-block;
        }
        img{
            height: 100%;
            margin-right: 10px;
            vertical-align: top;

        }
        h2{
            margin: 0;
            font-size: 16px;
            font-weight: normal;
        }

    }
    .logout-help{
        position: absolute;
        right: 0;
        @media screen and (max-width: 900px) {
            display: none;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
        .logout,.help{
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
        }
        .logout{
            margin-right: 10px;
        }
        .help{
            font-size: 30px;
            margin-right: 5px;
        }
    }
    .feedback-hamburger{
        position: absolute;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 900px) {
            display: inline-block;
        }
    }
    .burgerPanel{
        background: #313333;
        position: absolute;
        top: 50px;
        right: 15px;
        padding: 5px 10px;
        text-align: center;
        display: block;
        z-index: 20;
            ul{
                &::before{
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 10px solid #313333;
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: 9px;
                }
                li{
                    text-align: left;
                    padding-left: 5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        line-height: 30px;
                    }
                }
            }
    }
}
