.page-panel {
    display: inline-block;
    overflow: hidden;
    position: relative;

    .panel-container {
        overflow: hidden;
    }

    .panel-scroll {
        @include absolute(0, 0, 0, null);
        box-sizing: border-box;
        width: px-rem(12);
        background: #fff;
        border: px-rem(3) solid transparent;
        opacity: 0;

        transition: opacity 1s;

        &:hover, &.scrolling {
            opacity: .8;
        }

        .scroll-bar {
            background: $border-color;

            height: px-rem(50);
            box-sizing: border-box;
            border-radius: px-rem(4);
        }
    }
}
