$brand-primary: #50b48c;
$brand-secondary: #fbb342;

$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$button-background: $brand-primary;
$button-background-disabled: #acaeaf;
$button-background-hover: #63b790;
$button-background-disabled-hover: #afb0b1;
$button-font-color: #fff;

$font-color: #666;
$font-invert-color: #fff;

$shadow: rgba(0, 0, 0, .1);
$border-color: #ccc;

$sidebar-background: #514f4f;
$sidebar-background-hover: #494949;
$sidebar-font-color: #cbcbcb;

$header-background: #fff;

$landing-footer-background: #333;

$admin-app-background: #dfdfdf;
$admin-footer-background: #fff;

$paper-background: #fff;
$paper-border: $border-color;
$paper-shadow: $shadow;

$paper-title-background: #efefef;

$paper-field-border: #eee;
$paper-card-border: #eee;
