@mixin position ($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin relative ($args...) {
    @include position(relative, $args...);
}

@mixin absolute ($args...) {
    @include position(absolute, $args...);
}

@mixin fixed ($args...) {
    @include position(fixed, $args...);
}


@mixin display ($display, $width: null, $height: null, $line-height: null) {
    display: $display;
    width: $width;
    height: $height;
    line-height: $line-height;
}

@mixin inline ($line-height: null) {
    @include display(inline, $line-height);
}

@mixin block ($height: null) {
    @include display(block, $height);
}

@mixin inline-block ($width: null, $height: null) {
    @include display(inline-block, $width, $height);
}
