// app
$app-basic-font-size: $px-per-rem * 1px;

$app-default-font-size: px-rem(16);
$app-min-font-size: px-rem(14);


$app-header-height: px-rem(50);
$app-sidebar-width: $app-header-height * 3;
$app-admin-footer-height: px-rem(30);
$app-landing-footer-height: px-rem(50);

$app-wrapper-width: px-rem(1024);
$app-content-min-width: $app-wrapper-width - $app-sidebar-width;

// app-header
$header-logo-width: $app-header-height * 3;
$header-function-width: $app-header-height * 2;

$sidebar-width: $header-logo-width;
$footer-height: px-rem(30);

$landing-footer-height: px-rem(80);


$header-font-size: $app-min-font-size;
$sidebar-font-size: $app-min-font-size;
$crumbs-font-size: $app-min-font-size;
$footer-font-size: px-rem(12);

$paper-title-font-size: px-rem(20);
$paper-caption-font-size: px-rem(16);
$paper-field-font-size: px-rem(16);
$paper-hint-font-size: px-rem(16);


$z-index-l1: 9;
$z-index-l2: 99;
$z-index-l3: 999;
