$mobile-width-l: 768px;
$mobile-width-m: 414px;
$break-small: 500px;
$break-small-l: 330px;

li{list-style-type:none;}
.demoSubmit{
    position: relative;
    padding: 0 0 100px;
    .errorMessage{
        color: red;
    }
    .wordCounting
    {
        .textareaContainer{
            position: relative;
            textarea{
                width: 100%;
                height: 250px;
                padding: 20px;
                box-sizing: border-box;
                border:1px solid #e6e6e6;
                background: #eeeeee;
                border-radius: 3px;
                color:#808080;
                font-size: 14px;
                resize: vertical;
            }
            .checkingLangPop{
                position: absolute;
                width: 200px;
                height: 50px;
                text-align: center;
                top: 40%;
                left: 40%;
                opacity: .9;
                font-size: 14px;
                @media screen and (max-width: $break-small) {
                    left: 22%;
                }
                @media screen and (max-width: $break-small-l) {
                    left: 18%;
                }
                background: #4db38d;
                line-height: 50px;
                color: #FFF;
            }
        }

        .open-ended-ques{
            font-weight: bold;
        }
        .demoQues{
            padding: 30px 0;
        }
        .wordTips {
            position: relative;
            height: 30px;
            .answerLanguage{
                height: 30px;
                line-height: 30px;
                margin: 0;
                color:#808080;
                font-size: 14px;
                margin-top: 10px;
                display: inline-block;
                border: 1px solid #d16b7f;
                background: #f7d6db;
                padding: 0 20px;
                color: #d16b7f;
                @media screen and (max-width: $break-small) {
                    margin-top: 40px;
                }
            }
            .atLest{
                height: 20px;
                line-height: 20px;
                margin: 0;
                color:#808080;
                font-size: 14px;
                top: 10px;
                position: absolute;
                right: 0;
                padding: 0;

                em{
                    font-style: normal;
                    color:#e99748;
                }
                em.wordEnough{
                    color:#4db38d;
                }
            }
        }


    }

    button{
        font-size: 14px;
        height: 30px;
        line-height: 30px;
        background-color: #4db38d;
        display: block;
        color: #fff;
        text-align: center;
        width: 100px;
        border: none;
        margin-top: 10px;
        padding: 0;
        float: right;
        cursor: pointer;
        &:disabled {
            background: #999;
        }
    }
    .RadioBox{
        position: relative;
        padding-bottom: 20px;
        .selectInfor{
            width: 45%;
            display: inline-block;
            .errorMessage{
                color: red;
            }
            @media screen and (max-width:$mobile-width-l) {
                width: 100%;
            }
            p{
                padding: 30px 0;
                margin: 0;
            }
            ul{
                li{
                    &:hover{
                        background-color:#4db38d;
                        color: #fff;
                    }
                }
                .cur{
                    background-color: #4db38d;
                    color: #fff;
                }
            }
        }
        .selectInfor:nth-child(2){
            position: absolute;
            right: 0;
            @media screen and (max-width:$mobile-width-l) {
                position: static;
            }
        }
        ul{
            width: 100%;
            border:1px solid #e6e6e6;
            border-radius: 3px;
            background:#f2f2f2;
            padding: 0;
            text-align: center;
            .cur{
                color: #fff;
            }

        }
        li{
            text-align: left;
            padding-left: 20px;
            height: 38px;
            line-height: 38px;
            color:#808080;
            font-size: 14px;
            @media screen and (max-width: $break-small) {
                font-size: 13px;
            }
            cursor: pointer;
        }
        li + li {
            box-sizing: border-box;
            border-top: 1px solid #e9e9e9;
        }
    }
}
