$bar-height: 10px;
$bar-color: #efefef;
$main_color: #4db38d;
// $main_yellow_color: #e99748;
$demo_yellow: #FBB342;
$result-bar-color: #999;

.resultBar{
    margin-bottom: 50px;
    span{
        font-size: 16px;
    }
    .barTitle{
        margin-bottom: 25px;
        margin-left: 5%;
    }
    hr{
        margin-top: 50px;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #efefef;
    }
    .wholeBar{
        height: $bar-height;
        width: 90%;
        margin-left: 5%;
        background-color: $bar-color;
        font-weight: lighter;
        position: relative;
        div{
            transform: translateY(-50%);
        }
        .scoreCircle{
            display: inline-block;
            position: absolute;
            height: $bar-height*2;
            width: $bar-height*2;
            border-radius: 50%;
            background: $demo_yellow;
            transform: translateY(-40%);
            z-index: 20;

            span{
                position: absolute;
                bottom: 20px;
                left: 1px;
                color: $demo_yellow;
            }
        }
        .showBar{
            display: inline-block;
            position: relative;
            height: $bar-height;
            width: 20%;
            margin-left: 20%;
            background-color: $main_color;

            span{
                position: absolute;
                top: 15px;
                color: #999;
            }
            .label-1{
                left: -8px;
            }
            .label-2{
                right: -8px;
            }
        }
    }
}
