$break-small: 500px;
.demoFooter{
    position: fixed;
    bottom: 0;
    height: 80px;
    @media screen and (max-width: $break-small) {
        height: 60px;
    }
    width: 100%;
    background-color: #000;
    color: #fff;
    p{
        text-align: center;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 5px;
    }
    .copywrite{
        padding-top: 23px;
        @media screen and (max-width: $break-small) {
            padding-top: 10px;
        }
    }
}
