$break-small: 500px;
.dounutPie{
    .highcharts-tooltip{
        display: none;
    }
    .highcharts-container{
        height: 250px!important;
        text[text-anchor='end']{
            display: none;
        }
        svg{
            height: 250px;
            @media screen and (max-width: $break-small) {
                height: 150px;
            }
        }
        @media screen and (max-width: $break-small) {
            height: 150px!important;
        }
    }
}
