$main_color: #4db38d;
$break-small: 500px;
$break-large: 1000px;
.headerBoard{
    height: 48px;
    .header-container{
        width: 90%;
        margin-left: 5%;
        div{
            display: inline-block;
            vertical-align: middle;
        }
        .logo{
            position: absolute;
            left: 10px;
            height: 48px;
            width: 200px;
            background-image: url("./images/demo-headerBoarder-logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            @media screen and (max-width: $break-large) {
                font-size: 70px;
            }
            color: $main_color;
        }
        .links{
            position: absolute;
            left: 20%;
            line-height: 48px;
            height: 48px;
            // margin-left: 7rem;
            a{
                color: $main_color;
                cursor: pointer;
                font-size: 16px;
                text-decoration: none;
                line-height: 56px;
            }
            @media screen and (max-width: $break-large) {
                display: none;
            }
        }
        .contact-us{
            position: absolute;
            left: 30%;
            line-height: 48px;
            div{
                color: $main_color;
                margin-left: 16px;
                i{
                    font-size: 17px;
                    margin-right: 5px;
                }
                a{
                    cursor: pointer;
                    text-decoration: none;
                    color: $main_color;
                    font-size: 16px;
                }
            }
            @media screen and (max-width: $break-large) {
                display: none;
            }
        }
        .signups{
            position: absolute;
            right: 16px;
            @media screen and (max-width: $break-small) {
                top: 5px;
            }
            button{
                display: inline-block;
                width: 120px;
                height: 30px;
                border: 1px solid $main_color;
                cursor: pointer;
                font-size: 14px;
                margin-top: 9px;

                @media screen and (max-width: $break-small) {
                    width: 80px;
                    height: 25px;
                    font-size: 12px;
                }
            }
            .login{
                background-color: $main_color;
                color: #fff;
                margin-right: 32px;
                font-style:normal;

                @media screen and (max-width: $break-small) {
                    margin-right: 16px;
                }
            }
            .signup{
                background-color: #fff;
                color: $main_color;
                line-height: 30px;
                @media screen and (max-width: $break-small) {
                    line-height: 25px;
                }
            }
        }
    }
}
