$break-small:500px;
.headerBanner{
    .background-img{
        width: 100%;
        min-height: 400px;
        @media screen and (max-width: $break-small) {
            min-height: 200px;
        }
        background-image: url("./images/demo-headerBanner-background.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        div{
            text-align: center;
            padding-top: 60px;
            padding-left: 25%;
            padding-right: 25%;
            @media screen and (max-width: $break-small) {
                padding-top: 20px;
                padding-left: 0;
                padding-right: 0;
            }
            h1,h2{
                color: #fff;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 50px;
                @media screen and (max-width: $break-small) {
                    line-height: 25px;
                }
            }
            h1{
                font-size: 50px;
                padding-bottom: 15px;
                @media screen and (max-width: $break-small) {
                    font-size: 30px;
                }
            }
            h2{
                font-size: 30px;
                font-weight: normal;
                @media screen and (max-width: $break-small) {
                    font-size: 18px;
                }
            }
        }
    }
    // img{
    //     width: 100%;
    // }
}
