$main_color: #4db38d;
$demo_yellow: #FBB342;
$enterprise_color: #cd3846;
$break-small: 500px;

.slscore-context{
        width: 700px;
        background-color: #fff;
        color: #000;
        border: 2px solid $main_color;
        text-align: center;
        border-radius: 2px;
        padding: 5px 0;
        position: absolute;
        z-index: 60;
        top: 180%;
        left: -625%;
        margin-left: -60px;
        padding-bottom: 10px;
        @media screen and (max-width: $break-small) {
            left: -480%;
            width: 280px;
        }
        .score-title{
            font-size: 25px;
            color: #333;
        }
        p{
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #999;
        }
        .cards-container{
            display: table;
            border-collapse: separate;
            border-spacing: 20px;
            width: 100%;
        }
        .cards{
            display: table-cell;
            position: relative;
            width: 170px;
            height: 400px;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: #efefef;
            @media screen and (max-width: $break-small) {
                width: 92%;
                display: block;
            }
            .card-title{
                height: 15px;
                color: #fff;
                font-size: 16px;
            }
            span{
                font-size: 12px;
            }
            .items{
                text-align: left;
                height: 150px;
                padding-left: 5px;
                padding-right: 3px;
                .item{
                    position: relative;
                    padding-left: 20px;
                    display: inline-block;
                    font-size: 14px;
                    color: #333;
                    font-weight: 100;
                    word-wrap:normal;
                    font-style: italic;
                    margin-top: 20px;
                    &::before{
                        position: absolute;
                        left: 0;
                        font-family:"iconfont" !important;
                        content: "\e60b";
                    }
                }
                li{
                    font-size: 14px;
                    font-weight: lighter;
                    padding-top: 20px;
                    .icon-yes{
                        color: $main_color;
                        font-size: 16px;
                        padding-right: 5px;
                    }
                }
                // position: relative;
            }
            .why-choose{
                height: 200px;
                position: absolute;
                bottom: 0px;
                p{
                    text-align: left;
                    word-wrap: break-word;
                    font-size: 14px;
                }
                .content{
                    padding-left: 10px;
                    padding-right: 5px;
                }
            }

        }
        .basic{
            .card-title{
                background: $main_color;
            }
            .items{
                li{
                    .icon-yes{
                        color: $main_color;
                    }
                }
                .item{
                    &::before{
                        color: $main_color;
                    }
                }
            }
            .why-choose{
                p:first-child{
                    text-align: center;
                    font-size: 16px;
                    color: #333;
                    span{
                        font-size: 14px;
                        color: $main_color
                    }
                }
            }
        }
        .pro{
            border: 1px solid $demo_yellow;
            .items{
                li{
                    .icon-yes{
                        color: $demo_yellow;
                    }
                }
                .item{
                    &::before{
                        color: $demo_yellow;
                    }
                }
            }
            .card-title{
                background: $demo_yellow;
            }
            .why-choose{
                p:first-child{
                    font-size: 16px;
                    text-align: center;
                    color: #313333;
                    span{
                        font-size: 14px;
                        color: $demo_yellow;
                    }
                }
            }

        }
        .enterprise{
            .items{
                li{
                    .icon-yes{
                        color: $enterprise_color;
                    }
                }
                .item{
                    &::before{
                        color: $enterprise_color;
                    }
                }
            }
            .card-title{
                background: $enterprise_color;
            }
            .why-choose{
                p:first-child{
                    text-align: center;
                    font-size: 16px;
                    color: #313333;
                    span{
                        font-size: 14px;
                        color: $enterprise_color ;
                    }
                }
            }

        }
        // img{
        //     display: inline-block;
        //     padding-left: 10px;
        //     padding-right: 10px;
        //     z-index: 50;
        //     @media screen and (max-width: $break-small) {
        //         display: block;
        //         width: 95%;
        //         height: 500px;
        //         z-index: 50;
        //     }
        // }
        &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 302px;
            margin-left: -5px;
            border-width: 24px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
            z-index: 30;
            @media screen and (max-width: $break-small) {
                border-width: 16px;
                left: 142px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 300px;
            margin-left: -5px;
            border-width: 26px;
            border-style: solid;
            border-color: transparent transparent $main_color transparent;
            @media screen and (max-width: $break-small) {
                border-width: 18px;
                left: 140px;
            }
        }
    }
