.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut{
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.fadeOut{
    animation-name:fadeOut;
}
