$max-basic-font-size: $px-per-rem;
$min-basic-font-size: 16;  // below 16 may cause some display bugs in sidebar

$max-screen-width: 1280px;

html {
    font-size: $app-basic-font-size;

    @for $basic-font-size from $max-basic-font-size through $min-basic-font-size {
        @media screen and (max-width: $max-screen-width * $basic-font-size / $max-basic-font-size) {
            font-size: $app-basic-font-size * $basic-font-size / $max-basic-font-size;
        }
    }
}
