.home-login {
    width: px-rem(500);
    height: px-rem(500);
    position: relative;

    &::before {
        content: '';
        background: rgba(255, 255, 255, .3);
        @include absolute(0, 0, 0, 0);
        border-radius: px-rem(5);
    }

    .login-dialog {
        background: transparent;
        @include absolute(0, 0, 0, 0);
        padding: px-rem(40) px-rem(80);
        box-sizing: border-box;
        text-align: center;

        .login-title {
            font-size: px-rem(25);
            font-style: italic;
            margin: 0 0 px-rem(40) 0;
        }

        .login-field {
            margin: px-rem(20) auto;
        }

        .login-input {
            background: rgba(255, 255, 255, .5);
            border: none;
            border-radius: px-rem(5);
            box-sizing: border-box;
            width: 100%;
            height: px-rem(40);
            padding: 0 px-rem(10);
            margin: 0;
            text-align: center;
            box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.567);

            &:focus {
                outline: none;
                background: #fff;
            }
        }

        .login-link {
            margin: px-rem(20) auto;
            text-align: right;

            .link {
                color: $brand-secondary;
                text-decoration: none;
            }
        }

        .login-action {
            margin: px-rem(20) auto;

            .button {
                background: $brand-primary;
                color: $font-invert-color;
                border: none;
                border-radius: px-rem(5);
                box-sizing: border-box;
                width: 100%;
                height: px-rem(40);
                padding: 0 px-rem(10);
                margin: 0;
                cursor: pointer;
                box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.567);
            }
        }
    }

    .close {
        background: $brand-primary;
        color: $font-invert-color;
        width: px-rem(25);
        height: px-rem(25);
        border-radius: 50%;
        text-align: center;

        @include absolute(px-rem(-12.5), px-rem(-12.5), null, null);

        .iconfont {
            line-height: px-rem(25);
        }
    }
}
