.app {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: $app-wrapper-width;
    height: auto;
    min-height: 100vh;

    .app-header {
        height: $app-header-height;
    }

    .app-sidebar {
        width: $sidebar-width;
    }

    .app-content {
        display: block;
        overflow: hidden;
    }

    .app-footer {
        overflow: hidden;
    }

    &.app-landing {
        overflow: auto;

        .app-header {
            position: relative;
            height: $app-header-height;
        }

        .app-sidebar {
            position: relative;
            display: none;
        }

        .app-content {
            position: relative;
            min-height: calc(100vh - #{$app-header-height + $landing-footer-height});
        }

        .app-footer {
            position: relative;
            height: $landing-footer-height;
            line-height: $landing-footer-height;
        }
    }

    &.app-admin {
        overflow-x: auto;

        @include absolute(0, 0, 0, 0);
        background: $admin-app-background;

        .app-sidebar {
            @include absolute($app-header-height, null, 0, 0);
        }

        .app-header {
            @include absolute(0, 0, null, 0);
        }

        .app-content {
            @include absolute($app-header-height, 0, $footer-height, $sidebar-width);
        }

        .app-footer {
            @include absolute(null, 0, 0, $sidebar-width);
            height: $footer-height;
            line-height: $footer-height;
        }
    }
}
