$light-grey: #efefef;
$main-yellow: #e99748;
$main-color: #4db38d;
$highlight-red: #cd3846;
.info-wrapper{
    .loading-wrapper{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        z-index: 50;
        opacity: 0.7;
    }
    .contact-pop{
        background-color: #fff;
        z-index: 60;
        width: 600px;
        height: 350px;
        position: fixed;
        left: 30%;
        top: 30%;
        text-align: center;
        .contact-title{
            color: $main-color;
            margin-top: 50px;
            font-size: 25px;
        }
        .contact-body{
            margin-top: 50px;
            p{
                line-height: 30px;
                font-size: 18px;
            }
        }
        .contact-ok{
            position: absolute;
            bottom: 0;
            height: 45px;
            border-top: 1px solid #999;
            width: 100%;
            div{
                line-height: 45px;
                font-size: 25px;
                cursor: pointer;
                color: $main-color;
            }
        }
        .contact-close{
            position: absolute;
            right: -10px;
            top: -10px;
            height: 20px;
            width: 20px;
            background-color: $main-color;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            div{
                line-height: 22px;
                color: #fff;
                font-size: 14px;
            }

        }
    }
    .paper-container{
        background-color: $light-grey;
        padding-top: 20px;
        padding-bottom: 80px;
        .paper{
            width: 60%;
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
            .pane{
                margin-left: 6rem;
                margin-right: 6rem;
                padding-top: 3rem;
                padding-bottom: 4rem;
                position: relative;
                .textarea-row{
                    margin-left: 10px;
                    margin-top: 30px;
                    position: relative;
                    min-height: 300px;
                    textarea{
                        height: 200px;
                        width: 72%;
                        padding-left: 5px;
                    }
                    .button-row{
                        margin-top: 20px;
                        button{
                            position: relative;
                            width: 100%;
                            height: 40px;
                            background: $main-color;
                            color: #fff;
                            border: none;
                            font-size: 18px;
                            cursor: pointer;
                            &:disabled{
                                background-color: #999;
                            }
                            .tooltiptext {
                                // visibility: hidden;
                                width: 160px;
                                height: 20px;
                                line-height: 20px;
                                background-color: $main-color;
                                color: #fff;
                                font-size: 14px;
                                text-align: center;
                                font-weight: lighter;
                                border-radius: 6px;
                                padding: 5px 0;
                                position: absolute;
                                z-index: 1;
                                bottom: 115%;
                                left: 50%;
                                margin-left: -80px;
                            }
                            .tooltiptext::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: $main-color transparent transparent transparent;
                            }
                            // &:hover{
                            //     .tooltiptext {
                            //         visibility: visible;
                            //     }
                            // }
                        }
                    }
                }

                .row{
                    height: 35px;
                }
                .logo-row{
                    height: 14rem;
                }
                .contact-row{
                    text-align: right;
                    margin: 0;
                    .contact-button{
                        width: 150px;
                        height: 40px;
                        background: $main-yellow;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                    }
                }
                .first-item-row{
                    margin-top: 30px;
                }
                .item-row{
                    margin-left: 10px;
                    position: relative;

                    .company-logo-error{
                        margin-top: 60px;
                    }
                    .dropdown-div{
                        height: 25px;
                        border: 1px solid #efefef;
                        width: 72%;
                        position: relative;
                        cursor: pointer;
                        line-height: 25px;
                        .options{
                            position: absolute;
                            width: 100%;
                            border: 1px solid #efefef;
                            top: 25px;
                            left: -1px;
                            z-index: 100;
                            ul{
                                background-color: #fff;
                                li{
                                    line-height: 30px;
                                    border: 1px solid #efefef;
                                    font-size: 16px;
                                    padding-left: 10px;
                                    z-index: 200;
                                    &:hover{
                                        background-color: $main-color;
                                        color: #fff;
                                    }
                                    .cur{
                                        background-color: $main-color;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .arrow{
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }
                        .arrow{
                            transition: all 0.3s ease-in-out 0s;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 50px;
                            text-align: center;
                            line-height: 25px;
                            height: 100%;
                            border: 1px solid #efefef;
                            cursor: pointer;
                            background: #fff
                        }
                    }
                    .expireInfo{
                        font-size: 16px;
                        color: red;
                    }
                    .right-side{
                        display: inline-block;
                        width: 70%;
                        float: right;

                        .logo-wrapper{
                            width: 70%;
                            height: 10rem;
                            margin-right: 10px;
                            border: 1px solid $light-grey;
                            position: relative;
                            display: inline-block;
                            .image-input{
                                display: none;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                            }
                            .imageHint{
                                position: absolute;
                                width: 100%;
                                bottom: -55px;
                                border: 1px solid $main-color;
                                text-align: center;
                                color: darkgreen;
                                border-color: rgba(166,219,166,0.9);
                                background-color: rgba(219,255,219,0.93);
                                p{
                                    font-size: 12px;
                                    line-height: 25px;
                                }
                            }


                        }
                        .upload-image{
                            width: 17%;
                            height: 36px;
                            background-color: $main-color;
                            border: none;
                            color: #fff;
                            position: absolute;
                            top: 5rem;
                            cursor: pointer;
                        }
                    }
                    .highlight-word{
                        color: $highlight-red;
                    }
                    .highlight-error{
                        color: red;
                        font-size: 14px;
                    }
                    .hint{
                        font-size: 12px;
                    }
                    input{
                        width: 72%;
                        height: 25px;
                        border: 1px solid $light-grey;
                        padding-left: 5px;
                    }
                    .label{
                        width: 30%;
                        line-height: 25px;
                    }
                    .account{
                        color: $main-yellow;
                    }
                    .company{
                        color: $main-color;
                    }
                }
                .last-row{
                    margin-bottom: 30px;
                }
                .domain-row{
                    height: 70px;
                }
            }
        }
    }
}
