$main_color: #4db38d;
$demo_yellow: #FBB342;
$break-small: 500px;
$mobile-width-l: 768px;
$mobile-width-m: 414px;

$base-max-width: 800px;
$base-background: #fff;
$pc-width: 1024px;

.hr-main{
    width: $pc-width;
    margin: 0 auto;
    @media screen and (max-width: $mobile-width-l) {
        width: 90%;
        margin-left:5%;
    }
}
.base-wrapper {
    max-width: $base-max-width;
    min-height: 800px;
    margin: 0 auto;
    background: $base-background;
    overflow: hidden;
    .main {
        padding-bottom: 60px;
        position: relative;
    }
}


.wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    .invitationBanner{
        .background-img{
            width: 100%;
            min-height: 650px;
            position: relative;
            @media screen and (max-width: $break-small) {
                min-height: 400px;
            }
            background-image: url("./images/demo-background.jpg");
            background-repeat: no-repeat;
            background-size:cover;

            .invi-wrapper{
                width: 400px;
                @media screen and (max-width: $break-small) {
                    width: 70%;
                }
                margin: 0 auto;
                text-align: center;
                right: 50%;
                bottom: 50%;
                transform: translate(50%,50%);
                position: absolute;
                span{
                    line-height: 30px;
                    float: left;
                    margin: 0;
                    color:#808080;
                    font-size: 12px;
                    display: inline-block;
                    border: 1px solid #d16b7f;
                    background: #f7d6db;
                    padding: 0 10px;
                    @media screen and (max-width: $break-small) {
                        font-size: 11px;
                    }
                }
                p{
                    color: #fff;
                    font-size: 27px;
                    @media screen and (max-width: $break-small) {
                        font-size: 16px;
                    }
                }
                input{
                    display: block;
                    width: 100%;
                    height: 40px;
                    margin-top:30px;
                    @media screen and (max-width: $break-small) {
                        height: 30px;
                    }
                    text-align: center;
                    font-size: 18px;
                }
                button{
                    width: 102%;
                    height: 40px;
                    margin-top: 30px;
                    background: $main_color;
                    border-style: none;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    cursor: pointer;
                    @media screen and (max-width: $break-small) {
                        height: 30px;
                        font-size: 14px;
                    }
                    &:disabled{
                        background: #999;
                    }
                    i{
                        font-style: normal;
                    }
                    //margin-left: 1px;
                }

            }
        }
        // img{
        //     width: 100%;
        // }
    }

    .loading-wrapper{
        position: relative;
        margin-bottom: 100px;
        .init-message{
            color: $main_color;
            text-align: center;
            font-size: 25px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .demo-loading-cover{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: 0.9;
            z-index: 200;
            @-webkit-keyframes loading-animation-dots-pulse {
                0% { background-color: $main_color; -webkit-transform: scale3d(1, 1, 1); }
                35% { background-color: #ccc; -webkit-transform: scale3d(1.44, 1.44, 1.44); }
                70%, 100% { background-color: $main_color; -webkit-transform: scale3d(1, 1, 1); }
            }

            @keyframes loading-animation-dots-pulse {
                0% { background-color: $main_color; transform: scale3d(1, 1, 1); }
                35% { background-color: #ccc; transform: scale3d(1.44, 1.44, 1.44); }
                70%, 100% { background-color: $main_color; transform: scale3d(1, 1, 1); }
            }
            .loading-animation{
                width: 100%;
                position: fixed;
                padding: 0.25rem 0;
                height: 0.5rem;
                line-height: 0;
                text-align: center;
                padding-top: 25%;
                z-index: 100;
                @media screen and (max-width: $break-small) {
                    padding-top: 60%;
                }
                margin-left: auto;
                margin-right: auto;
                p{
                    width: 100%;
                    height: 45px;
                    color: #f2f2f2;
                    text-align: center;
                    font-size: 25px;
                    padding-left: 3px;
                }

                i {
                    display: inline-block;
                    margin: 0 0.5rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    overflow: hidden;
                    font-size: 0;
                    line-height: 0;
                    border-radius: 0.25rem;
                    background-color: #333;
                    -webkit-animation: loading-animation-dots-pulse 3s infinite ease-in-out;
                    animation: loading-animation-dots-pulse 3s infinite ease-in-out;
                }
            }
        }
    }
    .demo-wrapper{
        position: relative;
        .serverError{
            text-align: left;
            color: red;
            margin-left: 50px;
            margin-bottom: 50px;
        }
        .demo-pop{
            position: absolute;
            left: 30%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 400;
        }

        .demo-question-wrapper{
            background-color: #fff;
            font-size: 14px;
            margin-bottom: 50px;

            .demo-question{
                width: 60%;
                margin-left: 20%;
                @media screen and (max-width: $break-small) {
                    width: 100%;
                    margin-left: 0;
                }
                .demo-options:nth-child(2){
                    position: relative;
                    .RadioBox{
                        width: 90%;
                        position: absolute;
                        right: 0;
                        @media screen and (max-width: $break-small) {
                            position: relative;
                        }
                    }
                }

                .demo-options{
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (max-width: $break-small) {
                        display: block;
                        width: 100%;
                    }
                }
                .submit-wrapper{
                    text-align: right;
                    margin-top: 20px;
                    .submit-button{
                        width: 120px;
                        height: 40px;
                        color: #fff;
                        font-size: 16px;
                        background-color: $main_color;
                        border: none;
                        cursor: pointer;

                    }
                    button[disabled]{
                        background-color: #999999;
                    }
                }

            }
        }
        .demo-result-wrapper{
            background-color: #efefef;
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 14px;
            @media screen and (max-width: $break-small) {
                padding-top: 5px;
            }
            .bar-legend{
                font-size: 16px;
                margin: 0 5%;
                clear: both;
                p,div{
                    display: inline-block;
                    bottom: 20px;
                }
                p{
                    width: 40%;
                    text-align: left;
                    padding: 10px 0 20px;
                    font-size: 18px;
                    font-weight: bold;
                }
                .legend-container{
                    width: 60%;
                    text-align: right;
                    @media screen and (max-width: $break-small) {
                        width: 100%;
                        text-align: left;
                    }
                    div{
                        display: inline-block;
                    }
                    .score{
                        margin-right: 20px;
                        @media screen and (max-width: $break-small) {
                            margin-right: 0;
                            font-size: 12px;
                        }
                        div{
                            width: 20px;
                            height: 20px;
                            @media screen and (max-width: $break-small) {
                                width: 15px;
                                height: 15px;
                            }
                            margin-right: 5px;
                            margin-bottom: -5px;
                            border-radius: 50%;
                            background-color: $demo_yellow;
                        }
                        span{
                            line-height: 20px;
                            text-align: left;
                        }
                    }
                    .range{
                        @media screen and (max-width: $break-small) {
                            font-size: 12px;
                            margin-left: 10px;
                        }
                        div{
                            width: 40px;
                            height: 10px;
                            @media screen and (max-width: $break-small) {
                                width: 30px;
                                height: 5px;
                            }
                            margin-right: 5px;
                            background-color: $main_color;
                        }
                    }
                }
                hr{
                    display: block;
                    height: 1px;
                    border: 0;
                    border-top: 1px solid #efefef;
                    margin-bottom: 15px;
                }

            }
            .demo-result{
                position: relative;
                .slscore-wrapper{
                    margin-bottom: 20px;
                    width: 100%;
                    display: table;
                    border-collapse: separate;

                    .chartWrapper{
                        .zeroScore{
                            height: 150px;
                            width: 100%;
                            text-align: center;
                            line-height: 120px;
                            font-size: 100px;
                            color: #999;
                        }
                    }
                    @media screen and (max-width: $break-small) {
                        display: block;
                    }
                    .slscore,.description{
                        display: table-cell;
                        width: 48%;
                        background-color: #fff;
                        @media screen and (max-width: $mobile-width-l) {
                            display: block;
                            width: 90%;
                            margin:30px 0 0 0;
                        }
                    }
                    .slscore{
                        box-sizing: border-box;
                        // margin-left: -20px; /* remove outer border spacing */
                        .title{
                            text-align: center;
                            font-size: 25px;
                            .slscore-version{
                                color: $demo_yellow;
                                padding-left: 10px;
                            }
                            .help-icon{
                                display: inline-block;
                                padding-left: 10px;
                                color: #999;
                                font-size: 28px;
                                cursor: pointer;
                                position: relative;

                                &::before{
                                    font-family:"iconfont" !important;
                                    content: "\e604";
                                }
                                &:hover{
                                    color: $main_color;
                                    .slscore-context {
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                        .title{
                            padding: 20px 0;
                        }
                        .context{
                            padding-left: 20px;
                            padding-right: 20px;
                            font-size: 14px;
                            text-align: left;
                            line-height: 25px;
                            color: #999;
                        }
                        .good{
                            margin-top: 0;
                            padding-bottom: 20px;
                            color: $main_color;
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                    .description{
                        margin-right: -20px;
                        height: 250px;
                        padding-left: 20px;
                        padding-right: 20px;
                        box-sizing: border-box;
                        @media screen and (max-width: $break-small) {
                            margin-left: 0;
                            height: auto;
                        }
                        hr{
                            display: block;
                            height: 1px;
                            border: 0;
                            border-top: 1px solid #efefef;
                        }
                        .des-title{
                            padding: 15px 10px 15px 5px;
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .des-content{
                            color: #999;
                            line-height: 25px;
                            padding-left: 5px;
                            padding-right: 10px;
                            // @media screen and (max-width: $break-small) {
                            //     max-height: 190px;
                            //     // overflow-y: scroll;
                            // }
                            p:first-child{
                              padding-top: 10px;
                            }
                            p{
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
                .result-bar-wrapper{
                    background-color: #fff;
                    padding: 20px 0 40px;
                    @media screen and (max-width: $break-small) {
                        width: 90%;
                    }
                }
            @media screen and (max-width: $break-small) {
                width: 100%;

            }
            }
        }


    }
    .showBar{
        background-color: $main_color;
    }
}
