$break-small: 500px;
.feedback-wrapper{
    background-color: #000;
    .base-wrapper{
        .main{
            .feedbackThankyou{
                text-align: center;
                margin-top: 150px;
                p{
                    font-size: 20px;
                    padding-bottom: 60px;
                }
                a{
                    text-decoration: underline;
                    color: #e99748;
                }
            }
            .feedback-body-wrapper{
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                .feedbackInput{
                    width: 100%;
                    margin-bottom: 30px;
                    font-size: 18px;
                    p{
                        text-align: left;
                        margin-bottom: 10px;
                    }
                    input{
                        width: 96%;
                        height: 35px;
                        background-color: #f8f8f8;
                        border: 1px solid #fff;
                        padding-left: 2%;
                        padding-right: 2%;
                        font-size: 18px;
                        color: #666;
                    }
                }

                .problems{
                    margin-bottom: 30px;
                    font-size: 18px;
                    p{
                        margin-bottom: 10px;
                    }
                    ul{
                        li{
                            &:hover{
                                background-color:#4db38d;
                                color: #fff;
                            }
                        }
                        .cur{
                            background-color: #4db38d;
                            color: #fff;
                        }
                    }
                    ul{
                        li{
                            width: 94%;
                            height: 40px;
                            background:#f8f8f8;
                            line-height: 40px;
                            font-size: 14px;
                            color: #666;
                            border-bottom: 1px solid #efefef;
                            padding-left: 3%;
                            padding-right: 3%;
                            cursor: pointer;
                            &:hover{
                                background-color:#999;
                                color: #fff;
                            }
                        }
                        .cur{
                            background-color: #999;
                            color: #fff;
                        }
                    }
                }
                .problem-des{
                    font-size: 18px;
                    margin-bottom: 30px;
                    p{
                        margin-bottom: 10px;
                    }
                    textarea{
                        width: 94%;
                        height: 150px;
                        padding-left: 3%;
                        padding-right: 3%;
                        padding-top: 10px;
                        background: #efefef;
                        overflow: auto;
                        border: none;
                        color: #666;
                    }
                }
                .file-upload{
                    font-size: 18px;
                    p{
                        margin-bottom: 10px;
                    }
                    .image-hint{
                        color: red;
                        text-align: right;
                        padding-top: 10px;
                    }
                    div{
                        height: 40px;
                        width: 96%;
                        padding-left: 2%;
                        padding-right: 2%;
                        background: #f8f8f8;
                        position: relative;
                        input{
                            height: 30px;
                            padding-top: 10px;
                        }
                        button{
                            height: 34px;
                            width: 110px;
                            position: absolute;
                            bottom: 5px;
                            right: 20px;
                            margin-top: 3px;
                            border-radius: 2px;
                            background: #000;
                            color: #fff;
                            border: none;
                            cursor: pointer;
                            @media screen and (max-width: $break-small) {
                                width: 60px;
                                font-size: 14px;
                            }
                            &:disabled{
                                background-color: #999;
                            }
                        }
                    }
                }
                .serverError{
                    margin-top: 10px;
                    color: red;
                    font-size: 16px;
                }
            }
            .strike{
                display: block;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                margin-top: 30px;
                margin-bottom: 40px;
                span{
                    position: relative;
                    display: inline-block;
                    color: #e99748;
                    &::before{
                        right: 100%;
                        margin-right: 15px;
                    }
                    &::before,&::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-left: 10px;
                        width: 9999px;
                        height: 1px;
                        background: #efefef;
                    }
                }
            }
        }
    }
}
.feedback-footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    .submit{
        max-width: 720px;
        width: 90%;
        background-color: #000;
        color: #fff;
        height: 42px;
        margin-top: 4px;
        cursor: pointer;
        border: 1px solid #000;
    }
}
