.home {
    background: url(./images/home-banner.jpg) center center no-repeat;
    background-size: cover;
    // @include absolute(0, 0, 0, 0);
    height: calc(100vh - #{$app-header-height + $landing-footer-height});
    // min-height: 80rem;

    .home-login {
        @include absolute(50%, null, null, 50%);
        transform: translate(-50%, -50%);
    }
}
