$mobile-width-l: 768px;

.rating-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;
    overflow-x: scroll;
    .rating{
        .hr-main{
            padding-bottom: 80px;
            position: relative;
            .returnBtn{
                position: absolute;
                left: -40px;
                color: #50ab84;
                top: -4px;
                i{
                    font-size: 40px;
                }
                a{
                    cursor: pointer;
                }

            }
        }
        .breadcrumbs{
            margin: 10px 0 20px;
            height: 30px;
            li{
                float: left;
                display: inline-block;
                padding-right: 8px;
                color:#d68c48;
            }
            li a{
                color:#d68c48;
                padding-right: 8px;
            }
            li.cur{
                color:#000;
            }
        }

        label{
            width: 100%;
            display: inline-block;
            height: 30px;
            line-height: 30px;
        }

        input{
            height: 42px;
            line-height: 42px;
            border: 1px solid #eaeaea;
            border-radius: 2px;
            background: #f2f2f2;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            color: #808080;
        }

        textarea{
            border: 1px solid #eaeaea;
            border-radius: 2px;
            background: #f2f2f2;
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
            line-height: 42px;
            max-height: 152px;
            height: 152px;
            max-width: 100%;

        }

        .errorShow{
            position: absolute;
            bottom:-40px;;
            border: 1px solid #d16b7f;
            color: #d16b7f;
            display: block;
            height: 34px;
            line-height: 34px;
            padding: 0 10px;
            border-radius: 2px;
            background: #f7d6db;
            margin: 0;
        }
        .errorShow#save-error,.errorShow#save-success,.errorShow#submit-error,.errorShow#submit-success{
            bottom: auto;
            right: 0;
            top: -17px;
        }
        .errorShow#save-success,.errorShow#submit-success{
            color:#4db38d;
            border: 1px solid #4db38d;
            background: #addbc6;
        }





        .ratingNav{
            width: 100%;
            display:block;
            height: 40px;
            overflow: hidden;
            ul{
                display: inline-block;
            }
            li{
                width: 130px;
                height: 40px;
                line-height: 40px;
                float: left;
                display: inline-block;
                background: #50ab84;
                text-align: center;
                color: #fff;
                cursor: pointer;
                position: relative;
                span{
                    display: inline;
                }
                em{
                    position: absolute;
                    width: 130px;
                    height: 40px;
                    top: 0;
                    left: 0;
                }
            }
            li.cur{
                background: #61ddaf;
            }
        }

        .ratingMain{
            box-sizing: border-box;
            padding: 30px 30px 50px;
            background: #fff;
            .buttonBox{
                position: relative;
                display: inline-block;
                width: 100%;
                button{
                    width: 149px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    text-align: center;
                    background: #4db38d;
                    border: none;
                    margin-top: 26px;
                    cursor: pointer;
                    float: right;
                    display: block;
                    @media screen and (max-width: $mobile-width-l) {
                        margin-top: 40px;
                    }
                }
                button[disabled]{
                    cursor: default;
                    background: #f4f4f4;
                    color: #ddd;
                    border:1px solid #ddd;
                }
            }

            .ratingTab,.reviewsTab{
                display: none;
                .tips{
                    height: 30px;
                    line-height: 30px;
                    margin: 0;
                    em{
                        color: #50ab84;
                        font-style: normal;
                    }
                }
            }
            .cur.ratingTab,.cur.reviewsTab{
                display: block
            }
            .tab-left{
                width: 455px;
                float: left;
                @media screen and (max-width: $mobile-width-l) {
                    width: 100%;
                }
                .name{
                    margin-bottom: 40px;
                    position: relative;
                }
            }
            .tab-right{
                width: 455px;
                float: right;
                margin: 32px 0 0;
                position: relative;
                @media screen and (max-width: $mobile-width-l) {
                    width: 100%;
                }

                #behaviorScore{
                    border: 1px solid #eaeaea;
                    background: #f2f2f2;
                    border-radius: 2px;
                }
            }
            .tab-result{
                position: relative;
                width: 100%;
                display: inline-block;
                label{
                    padding:20px 0 15px;
                }
                ul{
                    border: 1px solid #eaeaea;
                    background: #f2f2f2;
                    border-radius: 2px;
                    li{
                        height: 48px;
                        line-height: 48px;
                        color: #808080;
                        border-bottom: 1px solid #eaeaea;
                        padding-left: 20px;
                    }
                    li:last-child{
                        border-bottom: none;
                    }
                    li.cur{
                        background: #4db38d;
                        color: #fff;
                    }
                }
                ul.hover{
                    li:hover{
                        background: #cccccc;
                        cursor: pointer;
                    }
                    li.cur{
                        background: #4db38d;
                    }

                }
            }

            .ratingTab{
                .tab-result label{
                    padding: 0
                }
                .mainWrapper{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    min-height: 323px;
                    .tab-left .Comment,.tab-left  .tab-result{
                        position: absolute;
                        bottom: 0;
                        width: 455px;
                        margin: 0;
                        @media screen and (max-width: $mobile-width-l) {
                            position: relative;
                            width: 100%;
                        }
                    }
                }
                .comment-big{
                    margin-top: 32px;
                }
            }
        }
    }
}
