$mobile-width-m: 414px;
.commentBar{
    border-bottom: 1px solid #f2f2f2;
    padding-top: 20px;
    .name{
        float: left;
        display: inline;
        width: 73px;
        margin-right: 5px;
        line-height: 20px;
        margin: 0;
        word-wrap:break-word;
    }
    .status{
        line-height: 20px;
        margin:0 0 16px 0;

    }
    .pass span{
        color:#4db38d;
    }
    .notPass span{
        color:#c13744;
    }
    .pending span{
        color:#d68c48;
    }
    .behavior{
        padding-left: 78px;
        @media screen and (max-width: $mobile-width-m) {
            padding-left: 0
        }
        p{
            display: inline-block;
            width: 282px;
            color: #888888;
            border: none;
            margin: 0;
            span{
                padding: 0;
                width: auto;
                padding-right: 5px;
            }
        }
    }
    .description{
        padding-left: 78px;
        color: #888888;
        margin: 10px 0 20px;
        @media screen and (max-width: $mobile-width-m) {
            padding-left: 0
        }
    }

}
