.seedlinkFooter{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e6e6e6;
    background: #fff;
    position:fixed;
    bottom: 0;
    width: 100%;
    color:#717071;
    font-size: 12px;
    p{
        display:inline-block;
        padding-right: 60px;
        margin: 0;
    }
    i{
        padding-right: 5px;
    }
    a{
        color:#717071;
        text-decoration: none;
    }
}
