.seedlinkHeader{
    height: 40px;
    border-bottom:1px solid #e3e4e4;
    position: relative;
    margin-bottom: 30px;
    h1{
        position: absolute;
        height: 40px;
        line-height: 40px;
        background: #50ab84;
        display: block;
        width: 170px;
        text-align: center;
        color: #fff;
        margin: 0;
        font-weight: 500;
        i{
            font-size: 60px;
        }
        span{
            display: none
        }
    }
    .help{
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-left: 1px solid rgb(221, 221, 221);
        .icon-wrapper{
            position: relative;
            i{
                font-size: 30px;
                color: #4db38d;
            }
            .hoverShow{
                display: none;
                background: #4db38d;
                color:#fff;
                font-size: 16px;
                width: 40px;
                height: 20px;
                border-radius: 3px;
                font-size: 12px;
                text-align: center;
                line-height: 20px;
                font-weight: normal;
                position: relative;
                margin-top: 5px;
            }
            .hoverShow::before{
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 6px solid #4db38d;
                content: '';
                position: absolute;
                top: -6px;
                left: 50%;
                margin-left: -5px;
            }
        }
        .icon-wrapper:hover{
            i{
                color: #fff;
                background: #4db38d;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: inline-block;
            }
            .hoverShow{
                display: block;
                position: relative;
                z-index: 4
            }
        }
        .feedbackPopup{
            position: absolute;
            right: 0px;
            top: 50px;
            width: 200px;
            background: #fff;
            z-index: 2;
            padding: 0 25px 10px;
            textarea{
                min-height: 30px;
                min-width: 100%;
                height: 120px;
                width: 100%;
                background: #fff;
                border: 1px solid #000;
                margin: 0 auto;
                font-size: 12px;
                float: left;
                line-height: 30px;
            }
            span{
                width: 100%;
                text-align: center;
                display: inline-block;
                font-size: 12PX;
                float: left;
            }
            i{
                position: relative;
            }
            i.icon-delete{
                position: absolute;
                right: 25px;
                top: 0;
            }
            i:hover{
                cursor: pointer;
            }
            button{
                width: 100%;
                display: inline-block;
                background: #4db38d;
                border: 1px solid #4db38d;
                text-align: center;
                color: #fff;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                float: left;
                margin-top: 10px;
            }
            button:hover{
                background: #61ddaf;
            }
            em{
                color: #d16b7f;
                font-size: 12px;
                font-style: normal;
                text-align: left;
                display: inline-block;
                width: 100%;
                height: 20px;
                line-height: 20px;
                float:left;
                margin-top: 10px;
            }
            .submitSuccess{
                height: 30px;
                line-height: 30px;
                padding-top: 10px;
            }
        }
    }

    .userAvatar{
        position: absolute;
        right: 40px;
        border-left: 1px solid rgb(221, 221, 221);
        cursor: pointer;
        height: 40px;
        text-align: center;
        width: 40px;
        .avarar-wrapper{
            position: relative;
            width: 26px;
            height: 26px;
            overflow: hidden;
            border-radius: 50%;
            margin: 5px 0 0 5px;

            i{
                width: 26px;
                height: 26px;
                display: block;
                background:url('./images/rating-seedlinkHeader-user-avatar-_default.png')
            }
        }
        .clickShow{
            background: #4db38d;
            border-radius: 3px;
            position: absolute;
            width: 84px;
            padding: 0 10px;
            left: -74px;
            z-index: 4;
            top: 50px;
            li{
                height: 34px;
                line-height: 34px;
                border-bottom:1px solid #81bfa8;
                text-align: left;
                a{
                    text-decoration: none;
                }
                i{
                    color:#fff;
                    padding-right: 6px;
                    font-size: 16px;
                    vertical-align: middle;
                }
                span{
                    color:#fff;
                    font-size: 12px;
                }
            }
        }
        .clickShow::before{
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 6px solid #4db38d;
            content: '';
            position: absolute;
            top: -6px;
            right:5%;
        }

    }
    .userAvatar:hover{
        cursor: pointer;
    }

}
