$mobile-width-l: 768px;
$mobile-width-s: 320px;

.star{
    height: 51px;
    color: #808080;
    border-bottom: 1px solid #eaeaea;
    display: table;
    width: 100%;
    margin: 0;
    span{
        padding-left: 20px;
        display: inline-block;
        width: 192px;
        vertical-align: middle;
        display: table-cell;
        @media screen and (max-width: $mobile-width-l) {
            width: 90px;
        }
        @media screen and (max-width: $mobile-width-s) {
            font-size: 12px;
            padding-left: 5px;
            width: 65px;
        }
    }
    em{
        vertical-align: middle;
        display: table-cell;
        i{
            width: 20px;
            height: 20px;
            display: inline-block;
            background: url(./images/rating-star.png);
            margin-right: 7px;
            vertical-align: middle;
            cursor: pointer;
        }
        i.cur{
            background: red;
            background: url(./images/rating-star.png) -20px 0;
        }
    }
}
.star:last-child{
    border-bottom: none;
}
