$main-color: #4db38d;
.smallBanner{
    position: relative;
    height:50px;
    background: #efefef;
    .green-line{
        position: absolute;
        left: 0;
        width: 10px;
        height: 100%;
        background: $main-color;
    }
    h3{
        line-height: 50px;
        font-size: 20px;
        margin-left: 30px;
    }
}
