$base-max-width: 800px;
$base-background: #fff;
$pc-width: 1024px;
$mobile-width-l: 768px;
$mobile-width-m: 414px;

$font-stack: Segoe UI, Microsoft Yahei UI, Microsoft Yahei, San Francisco, Lucida Grande, Heiti SC, Heiti TC, Droid Sans Fallback, SimHei;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $base-background;
  font-size: 16px;
}



body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td, select, option, table, tbody{
    margin: 0;
    padding: 0;
    font: 100% $font-stack;
}
