.app-account {
    position: relative;

    .account-avatar {
        width: 100%;
        height: 100%;
        background: none;
        border: none;

        cursor: pointer;

        .avatar {
            display: inline-block;
            vertical-align: middle;
            width: $app-header-height * .6;
            height: $app-header-height * .6;
            border-radius: 50%;
            background: url(./images/default-avatar.png) center center no-repeat;
            background-size: cover;
        }
    }

    .account-settings {
        @include absolute(#{calc(100% + #{px-rem(5)})}, 0, null, null);
        padding: 0 px-rem(15);

        background: $brand-primary;
        color: $font-invert-color;
        font-size: $header-font-size;

        display: none;

        &.show {
            display: block;
        }

        &::before {
            content: '';
            @include absolute(px-rem(-5), ($app-header-height - px-rem(10)) / 2);
            box-sizing: border-box;
            width: px-rem(5);
            height: px-rem(5);
            border: px-rem(5) solid transparent;
            border-top: none;
            border-bottom-color: $brand-primary;
        }

        .setting {
            line-height: 2.5;
            cursor: pointer;

            & + .setting {
                border-top: 1px solid fade-out($border-color, .4);
            }
        }

        .iconfont {
            margin-right: px-rem(5);
        }
    }
}
