.app-footer {
    z-index: $z-index-l1;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .1);

    .app-landing & {
        background: $landing-footer-background;
        color: $font-invert-color;
    }

    .app-admin & {
        background: $admin-footer-background;
        color: $font-color;
    }

    .footer-body {
        width: 100%;
        max-width: $app-wrapper-width;
        height: 100%;
        margin: 0 auto;

        font-size: $footer-font-size;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        display: inline-block;
        box-sizing: border-box;
        width: 35%;
        height: 100%;
        vertical-align: top;
    }

    .footer-center {
        width: 30%;
        text-align: center;

        .app-landing & {
            font-size: $app-default-font-size;
            line-height: 2;
            padding: px-rem(8) 0;
        }
    }

    .footer-right {
        text-align: right;
    }

    .footer-contact {
        display: inline-block;
        height: $app-header-height;
        vertical-align: top;

        .contact {
            display: inline-block;
            height: 100%;

            color: $brand-primary;
            text-decoration: none;
            text-align: center;

            .iconfont {
                margin-right: px-rem(5);
            }

            & + .contact {
                margin-left: px-rem(20);
            }
        }
    }
}
