.app-header {
    background: $header-background;
    z-index: $z-index-l1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    line-height: $app-header-height;

    .header-logo {
        display: inline-block;
        width: $header-logo-width;
        height: $app-header-height;
        vertical-align: top;

        .logo {
            display: inline-block;
            width: 100%;
            height: 100%;

            background: $brand-primary;
            color: $font-invert-color;
            text-decoration: none;
            text-align: center;
        }

        .icon-logo {
            display: inline-block;
            line-height: $app-header-height;
            font-size: px-rem(80);
        }
    }

    .header-body {
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% - #{$header-logo-width + $app-header-height * 4});
        height: $app-header-height;
        margin: 0 0 0 $app-header-height * 2;
        vertical-align: top;
    }

    .header-contact {
        display: inline-block;
        height: $app-header-height;
        vertical-align: top;

        .contact {
            margin-left: px-rem(20);

            display: inline-block;
            height: 100%;

            color: $brand-primary;
            text-decoration: none;
            text-align: center;

            .iconfont {
                margin-right: px-rem(5);
            }
        }
    }

    .header-search {
        // display: inline-block;
        margin: 0 auto;

        box-sizing: border-box;
        width: 100%;
        max-width: $app-wrapper-width;
        height: $app-header-height;
        vertical-align: top;
    }

    .header-function {
        float: right;
        white-space: nowrap;

        // padding-left: $header-logo-width - $app-header-height * 2;

        .function {
            display: inline-block;
            box-sizing: border-box;
            width: $app-header-height;
            height: $app-header-height;
            vertical-align: top;

            border-left: 1px solid $border-color;
        }
    }
}
