.app-help {
    position: relative;

    .help-button {
        width: 100%;
        height: 100%;
        background: none;
        border: none;

        cursor: pointer;

        .iconfont {
            line-height: $app-header-height;
            color: $brand-primary;
            font-size: $app-header-height * .7;
        }
    }

    .help-dialog {
        @include absolute(#{calc(100% + #{px-rem(5)})}, 0, null, null);
        padding: px-rem(15);

        background: $brand-primary;
        color: $font-invert-color;
        font-size: $header-font-size;
        line-height: 2;

        display: none;

        &.show {
            display: block;
        }

        &::before {
            content: '';
            @include absolute(px-rem(-5), ($app-header-height - px-rem(10)) / 2);
            box-sizing: border-box;
            width: px-rem(5);
            height: px-rem(5);
            border: px-rem(5) solid transparent;
            border-top: none;
            border-bottom-color: $brand-primary;
        }

        .help-title {
            text-align: center;
        }

        .help-input {
            display: block;
            border: 1px solid $border-color;
            width: px-rem(200);
            height: px-rem(100);
            padding: px-rem(5);

            resize: vertical;
        }

        .help-submit {
            display: block;
            margin: px-rem(10) auto 0 auto;
            padding: 0 px-rem(30);

            cursor: pointer;

            background: #fff;
            border: none;
            color: $brand-primary;
        }
    }
}
