.app-search {
    .search-input {
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: calc(100% - #{$app-header-height});
        height: 100%;
        padding: 0 0 0 px-rem(20);

        position: relative;

        .input {
            width: 100%;
            height: px-rem(30);
            line-height: px-rem(30);
            vertical-align: middle;

            box-sizing: border-box;
            border: 1px solid $border-color;
            border-radius: px-rem(15);
            padding: 0 px-rem(20);
        }
    }

    .search-button {
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: $app-header-height;
        height: $app-header-height;

        .button {
            background: none;
            border: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .icon-search {
            font-size: px-rem(25);
            color: $border-color;
        }
    }
}
