.app-sidebar {
    background: $sidebar-background;
    font-size: $sidebar-font-size;

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        box-sizing: border-box;
        height: px-rem(50);
        line-height: px-rem(50);
        text-align: center;
    }

    .nav {
        color: $sidebar-font-color;
        text-decoration: none;

        display: inline-block;
        box-sizing: border-box;

        .text {
            vertical-align: top;
        }
    }

    .nav-button {
        background: $button-background;
        color: $button-font-color;

        text-align: center;
        width: px-rem(130);
        height: px-rem(30);
        line-height: px-rem(30);

        .iconfont {
            margin-right: px-rem(6);
            font-size: $sidebar-font-size;
        }

        &:hover {
            background: $button-background-hover;
        }
    }

    .nav-link {
        border: px-rem(4) solid transparent;
        border-top: none;
        border-bottom: none;

        text-align: left;
        width: 100%;
        height: 100%;
        padding-left: px-rem(10);

        .iconfont {
            margin-right: px-rem(10);
            font-size: $sidebar-font-size;
        }

        &:hover {
            background: $sidebar-background-hover;
            color: $brand-primary;
        }
    }

    .nav-active {
        border-left-color: $brand-primary;
        background: $sidebar-background-hover;
    }
}
