
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480405604930'); /* IE9*/
  src: url('iconfont.eot?t=1480405604930#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480405604930') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480405604930') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480405604930#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before { content: "\e60e"; }

.icon-phone:before { content: "\e603"; }

.icon-chakan:before { content: "\e60a"; }

.icon-fanhui:before { content: "\e607"; }

.icon-setting:before { content: "\e62c"; }

.icon-search:before { content: "\e60d"; }

.icon-quit:before { content: "\e61e"; }

.icon-fold:before { content: "\e649"; }

.icon-unfold:before { content: "\e64b"; }

.icon-yes:before { content: "\e60b"; }

.icon-close:before { content: "\e66b"; }

.icon-delete:before { content: "\e696"; }

.icon-help:before { content: "\e604"; }

.icon-company:before { content: "\e6b1"; }

.icon-hanbao:before { content: "\e606"; }

.icon-bianji:before { content: "\e609"; }

.icon-duihua:before { content: "\e605"; }

.icon-pi-volume:before { content: "\e60c"; }

.icon-yanzhengma:before { content: "\e6e6"; }

.icon-mail:before { content: "\e602"; }

.icon-mac:before { content: "\e601"; }

.icon-logo:before { content: "\e61a"; }

.icon-pi-pro:before { content: "\e611"; }

.icon-pi-enterprise:before { content: "\e612"; }

.icon-add:before { content: "\e6e7"; }

.icon-create:before { content: "\e6e8"; }

